.divTitulo{
  background-color:#091F6D;
  width:100%;
  height: 80px;
}


.titulo{
  font-size:30px;
  text-align:center;
  color:#F5F6EC;
  vertical-align: middle;
}

#img1{
  width:200px;
  height:200px;
}

.imagen{
  width:100px;
  height:100px;
}


.link{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  width:100%;
  height:30px;
}

a:hover {
  background-color:#091F6D;
  color:#F5F6EC;
}

a:active{
  background-color:#091F6D;
  color:#151918;
}


div{
  margin-top:20px;
}

#menu1{
  font-size:18px; 
  height: 100%; 
  width: 10%; 
  position: fixed; 
  z-index: 1; 
  top: 100px; 
  left: 10; 
  background-color: #5C5E63 ; 
  overflow-x: hidden; 
  padding-top: 100px;
    
}

#contenido{
  height: 800px; 
  width: 90%; 
  position: left; 
  z-index: 1; 
  top: 0px; 
  margin-left: 185px;
  background-color:#DFE2EA; 
  overflow-x: hidden; 
  padding-top: 50px;
  text-align: center;
}

.texto{
  font-size:22px; 
  width:70%; 
  height:100%; 
  text-align:justify; 
  align-content: center; 
  margin-left: 15%; 
  margin-right: 20%;
}

.label1{
  text-align:left;
  height:30px;
  color: #091F6D;
  width:90%;
  font-size:20px;
  display: inline-block;
}

form {
  margin: 0 auto;
  width: 900px;
  padding: 3em;
  border: 1px solid #CCC;
  border-radius: 2em;
}

.td1 {
  width:20%;
}

input, text {
  font: 1em sans-serif;
  width: 350px;
  height:30px;
  box-sizing: border-box;
  border: 1px solid #999;
  vertical-align: top;
  

}