.divTitulo{
  background-color:#091F6D;
  width:100%;
  height: 80px;
}


.titulo{
  font-size:30px;
  text-align:center;
  color:#F5F6EC;
  vertical-align: middle;
}



.imagen{
  width:100px;
  height:100px;
}


.link{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  width:150px;
  height:30px;
}


div{
  margin-top:20px;
}

#menu1{
  height: 100%; 
  width: 10%; 
  position: fixed; 
  z-index: 1; 
  top: 100px; 
  left: 10; 
  background-color: #5C5E63 ; 
  overflow-x: hidden; 
  padding-top: 100px;
    
}

#contenido{
  height: 800px; 
  width: 90%; 
  position: left; 
  z-index: 1; 
  top: 0px; 
  margin-left: 185px;
  background-color:#DFE2EA; 
  overflow-x: hidden; 
  padding-top: 120px;
  text-align: center;
}

.texto{
  font-size:20px; 
  width:80%; 
  height:80%; 
  left: 50px;
  text-align:justify; 
  align-content: center; 
  margin-left: 100px; 
  margin-right: 10px;
}

